body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.collapsed {
    display: none;
}

nav {
    background-color: black;
    color: white;
    width: 100%;
}

nav .mobile {
    display: none;
}

nav .mobile .header {
    display: flex;
    justify-content: space-between;
    align-items: center; /*doesn't work! */
    padding-left: 25px;
}

nav .mobile .header .more button {
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}

nav .logo {
    min-width: 250px; /* al menos este valor (no define el ancho) */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
}

nav a:hover {
    background-color: #00c3ff;
    color: black;
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
    display: flex;
}

nav .desktop .secondary.mini {
    display: none;
}

/* 892 px or less */
@media screen and (max-width: 892px) {
    nav .logo {
        min-width: 100px; /* al menos este valor (no define el ancho) */
    }

    nav .secondary.full {
        display: none;
    }

    nav .desktop .secondary.mini {
        display: block;
    }

    nav .desktop .secondary.mini .submenu {
        position: absolute;
        display: none;
        background-color: black;
        right: 0;
        width: 200px;
    }

    nav .desktop .secondary.mini:hover .submenu {
        display: block;
    }
}

@media screen and (max-width: 500px){
    nav .desktop {
        display: none;
    }

    nav .mobile {
        display: block;
    }
}